body{
    margin:0;
    overflow: hidden;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

#messageDiv{
    position: absolute;
    background-color:#828282;
    width: 100%;
    text-align: center;
    color:white;
    opacity:0;
    transition-duration:0.7s;
    font-size: 150%;
    top: 15%;
    padding-top: 2%;
    padding-bottom:2%;
}
#queryDiv{
    position: absolute;
    width: 100%;
    text-align: center;
    top:3%;
    color:black;
    opacity:1;
    transition-duration: 3s;
    font-size: 200%;
}